.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}
.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}
.form-row > input {
    flex: 2;
}
#map {
    height: 400px;
    weight: 500px;
}
